:root{
    --cor--principal: #ffffff;
    --cor--segundaria: #D9D9D9;
}


header{
    background-color: var(--cor--segundaria);
}

#ElementosHeader{
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}
