:root{
    --cor--principal: #ffffff;
    --cor--segundaria: #ffc0cb;
}

header{
    background-color: aquamarine;
}

#ElementosHeader{
    display: flex;
    justify-content: space-around;
}

#historico{
    color: black;
    max-width: 40px;
}

#ImagemHeader{
    max-width: 25px;
}
