:root{
    --cor--principal: white;
    --cor--segundaria: pink;

}
h1{
    color: black;
    margin: 0%;
}

p{
    margin-top: 10px;
}


div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

img{
    max-width: 50%;
    min-width: 50%;
    max-height: 50%;
    min-height: 50%;
}

input{
    max-width: 50%;
    min-width: 10%;
    max-height: 50px;
    min-height: 90%;
}

button{
    margin-top: 5px;  
}

#button{
    background-color: pink;
    color: white;
}