:root{
    --cor--principal: rgba(218, 218, 4, 0.726);
    --cor-segundaria: blue;
    --cor-terciaria: white;
}

#imagem{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor--principal);
}
#Bio{
    margin-top: 20px;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;flex-direction: column;
    align-items: center;
}

#Informaçõespessoais{
        margin-top: 20px;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;flex-direction: column;
    align-items: center;
}

h1{
    font-size: 300%;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2{
    font-size: 150%;
    margin-top: 4%;
}

p{
    font-size: 120%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    margin: 5%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
width: 30%;
}

tr:nth-child(even) {
background-color: #dddddd;
}

