:root{
    --cor--principal: #ffffff;
    --cor--segundaria: #ffc0cb;

}
h1{
    color: black;
    margin: 0%;
}

p{
    margin-top: 10px;
}


div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

img{
    max-width: 200px;
    min-width: 200px;
    max-height: 200px;
    min-height: 200px;
}

input{
    max-width: 50%;
    min-width: 10%;
    max-height: 50px;
    min-height: 90%;
}

button{
    margin-top: 5px;  
}

#button{
    background-color: #ffc0cb;
    color: #ffffff;
}
