@keyframes changeColor {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: #007bff;
    }
}

.inputContainer {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10vw;
    margin-top: 10vh;
}

.elementoTabela tr:hover td{
    animation: changeColor 0.7s forwards;
}

.titulo {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

.elementoTabela th{
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}
.elementoTabela td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
    color: #000000;
}

.tituloTable {
    background-color: #000000;
    font-weight: bold;
}

/* Estilização do botão */
.controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #0056a2;
}

/* Estilizando a tralha do input */
.inputContainer input {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    transition: border-color 0.3s ease;
}

.inputContainer input:focus {
    border-color: #007bff;
}

@media (max-width: 768px) {
    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .inputContainer input {
        width: 50%;
    }
}