.tituloTable{
    color: black;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.elementoTabela{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.elementoTabela *{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
