.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    height: 15vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
    position: relative;
}

.menu li a {
    text-decoration: none;
    color: #333;
}

.menu li:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    list-style: none;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
    border-radius: 5px;
}

.submenu li {
    margin-right: 0;
}

.submenu li a {
    padding: 10px 20px;
    display: block;
}

/* Responsividade para telas de 400px ou mais */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 15px;
    }
    
    .menu {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    
    .menu li {
        margin: 10px 0;
        text-align: center;
    }
    
    .submenu {
        position: static;
        width: 100%;
        text-align: center;
    }
}
