* {
    margin: 0%
}
body{
    background-color: black;
}
h1{
    color: yellow;
    text-align: center;
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p{
    color: yellow;
    text-align: center;
}
div{
    background-color:black;
}
a{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
}
.botao{
    border: solid 1px rgb(82, 5, 62);
    border-radius: 40px;
    color: rgb(82, 3, 134);
    background-color: #f8fc03;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.7s ease;
    margin: 5px;
}

.botao:hover{
    background-color: rgb(207, 221, 11);
    color: rgb(63, 2, 50);
    transform: scale(1.5)
}
.Navegador{
    text-align: center;
}
