.header {
    background-size: cover;
    background-position: center;
    height: 150px; /* Ajuste a altura conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    width: 100%;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-list li {
    margin: 0;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #cccccc;
}