body{
    background-image: url(/portfório/IMG/Fundo.jpeg);
    background-position: center;
    background-size: cover;
    height: 100%;
}

img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}