body{
    background-image: linear-gradient(to left, white, blue,black);
    background-position: center;
    background-size: cover;
}

img{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}